:root{
    --hlight-color: #68686877;
    --button-color: #a0a0a0;
    --button2-color: #858585;
    --font-color: #000000;
    --color-drop-menu: #a9a9a9c9;
    --alt-color: #ED496F;
    --alt2-color: #ED4DA4;
    --heading-color: #a0a0a02f;
}

html {
    background: url(/index/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
}

a {
    color: var(--font-color);
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
    position: relative;
}

li {
    padding: 4px;
    list-style-type: none;
    font-size: medium;
    display: flex;
}

ul {
    align-self: center;
    max-width: 100%;
}

.groundpage {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.header-box {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--hlight-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logo-box {
    height: auto;
}

.left-box {
    width: 17%;
}

.right-box {
    width: 15%;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo-img1 {
    padding: 8px;
    width: 325px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 43%;
}

.logo-img2 {
    display: none;
}

.link-menulist {
    text-align: center;
    display: flex;
}

.link-menulist li {
    padding: 0px;
    padding-right: 5px;
}

.link-menulist a{
    position: relative;
}

.link-menulist a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--alt2-color);
    position: absolute;
    left: 12.5%;
    bottom: 4px;
    transition: 150ms ease-in-out;
}

.link-menulist a:hover::after{
    width: 75%;
}

.link-menu {
    padding: 0 10px;
    text-align: center;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--button-color);
    border-radius: 50px;
}

.link-menu a {
    display: flex;
    align-items: center;
}

.mobilenav-1 {
    display: none !important;
    text-align: right;
    background-color: var(--button-color);
    border: 4px solid var(--alt-color);
    border-radius: 50%;
}

.mobilenav-2 {
    padding: 5px;
    background-color: var(--color-drop-menu);
    justify-content: center;
    display: none;
    position: absolute;
    left: 18px;
    right: 18px;
    z-index: 10;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.mobilenav-2 a{
    position: relative;
}

.mobilenav-2 a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--alt2-color);
    position: absolute;
    left: 8%;
    bottom: 5.5px;
    transition: 150ms ease-in-out;
}

.mobilenav-2 a:hover::after{
    width: 85%;
}

.mobilenav-2 ul {
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
}

.mobilenav-2 li {
    position: relative;
    width: 152px;
    text-align: center;
}

.links {
    padding: 8px;
    font-size: larger;
    width: 100%;
    display: row;
    border-radius: 50px;
    background-color: var(--button-color);
    position: relative;
}

.links::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--alt2-color);
    position: absolute;
    left: 45%;
    bottom: 7.5px;
    transition: 150ms ease-in-out;
}

.links:hover::after{
    width: 10%;
}

.link-dropnav {
    padding: 8px;
    font-size: large;
    width: 100%;
    display: row;
}

.link-dropnav-container {
    padding: 4px;
    background-color: var(--button2-color);
    border-radius: 50px;
    width: 100%;
    align-items: center;
}

.main-body {
    padding-top: 0px;
}

.container {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: var(--hlight-color);
    margin-top: 4px;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.container-bottom {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: var(--hlight-color);
    margin-top: 4px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.impressum {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: var(--hlight-color);
    max-width: 581px;
}

.footer-box {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-drop-menu);
    border-radius: 50px;
}

.footer-box a{
    position: relative;
}

.footer-box a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--alt2-color);
    position: absolute;
    left: 4px;
    bottom: 3px;
    transition: 150ms ease-in-out;
}

.footer-box a:hover::after{
    width: 89%;
}

.copyright {
    display: flex;
    justify-content: center;
}

.welcome {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.welcome-img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 7px solid var(--alt-color);
}

.welcome-msg {
    background-color: var(--button-color);
    border: 4px solid var(--alt-color);
    border-radius: 25px;
}

.welcome-bl {
    padding-left: 10px;
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.welcome-br {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.content-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 4px;
}

.content-box, .content-box-map {
    padding: 5px;
    background-color: var(--button-color);
    border: 4px solid var(--alt-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15%;
    max-width: 30%;
    gap: 10px;
}

.content-box a{
    position: relative;
}

.content-box a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--alt2-color);
    position: absolute;
    left: 17.5%;
    bottom: 5px;
    transition: 150ms ease-in-out;
}

.content-box a:hover::after{
    width: 65%;
}

.box-botton {
    padding: 7px;
    background-color: var(--button2-color);
    border: 3.5px solid var(--alt-color);
    border-radius: 25px;
}

.code-style {
    padding-left: 10px; 
    padding-right: 10px;
}

.footer-name {
    padding-right: 5px;
}

.contact-sm {
    padding: 10px;
    gap: 10px;
    text-align: center;
}

.contact-map{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.heading {
    display: flex;
    justify-content: center;
    padding: 3px 7px;
    background-color: var(--heading-color);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(.5px);
    backdrop-filter: blur(.5px);
}